---
import Layout from '../layouts/Layout.astro';
---

<script>
    const header = document.querySelector("header");
    const sectionOne = document.querySelector(".home-intro");

    const faders = document.querySelectorAll(".fade-in");
    const sliders = document.querySelectorAll(".slide-in");

    const sectionOneOptions = {
        rootMargin: "-200px 0px 0px 0px"
    };

    const sectionOneObserver = new IntersectionObserver(function (
            entries,
            sectionOneObserver
        ) {
            entries.forEach(entry => {
                if (!entry.isIntersecting) {
                    header.classList.add("nav-scrolled");
                } else {
                    header.classList.remove("nav-scrolled");
                }
            });
        },
        sectionOneOptions);

    sectionOneObserver.observe(sectionOne);

    const appearOptions = {
        threshold: 0,
        rootMargin: "0px 0px -250px 0px"
    };

    const appearOnScroll = new IntersectionObserver(function (
            entries,
            appearOnScroll
        ) {
            entries.forEach(entry => {
                if (!entry.isIntersecting) {
                    return;
                } else {
                    entry.target.classList.add("appear");
                    appearOnScroll.unobserve(entry.target);
                }
            });
        },
        appearOptions);

    faders.forEach(fader => {
        appearOnScroll.observe(fader);
    });

    sliders.forEach(slider => {
        appearOnScroll.observe(slider);
    });

   function setCookie(name, value, days) {
    var expires = "";
    if (days) {
        let date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "") + expires + "; path=/";
}

function getCookie(name) {
    let nameEQ = name + "=";
    let ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
}


function showCookieButton() {
    let cookieButton = document.getElementById('cookieButton');
    let cookieDiv = document.getElementById('cookieDiv');
    if (!getCookie('myCookie')) {
        cookieButton.style.display = 'block';
        cookieDiv.style.display = 'flex';
    } else {
        cookieButton.style.display = 'none';
        cookieDiv.style.display = 'none';
    }
}


let cookieButton = document.getElementById('cookieButton');
cookieButton.addEventListener('click', function () {
    setCookie('myCookie', 'cookieValue', 365);
    showCookieButton();
});

// Проверка на наличие куки при загрузке страницы
window.onload = function () {
    if (getCookie('myCookie')) {
        showCookieButton();
    }
};
</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "ProfessionalService",
        "name": "Wolf Stove Repair",
        "image": "img/wolf-stove-repair-services.webp",
        "@id": "",
        "url": "",
        "telephone": "3239907550",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "816 Bartlett St",
            "addressLocality": "Los Angeles",
            "postalCode": "90012",
            "addressCountry": ""
        },
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": 34.06259111188187,
            "longitude": -118.24823518654867
        },
        "areaServed": {
            "@type": "GeoCircle",
            "geoMidpoint": {
                "@type": "GeoCoordinates",
                "latitude": 34.06259111188187,
                "longitude": -118.24823518654867
            },
            "geoRadius": 80400
        },
        "openingHoursSpecification": {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
            ],
            "opens": "00:00",
            "closes": "23:59"
        }
    }
</script>

<Layout>
    <div class="tiledBackground4">
        <div
                id="top"
                class="top"
        >
            <h2 style="margin: 0">WOLF STOVE REPAIR</h2>
            <p
                    style="
          color: #ffffff;
          font-weight: 900;
          font-family: 'Ubuntu', sans-serif;
          font-size: 2em;
          text-align: center;
          text-shadow: #5d0394 2px 0 20px;
          margin: 0;
        "
            >
                <a class="phone" style="color: #ffffff" href="tel:(323)990-7550"
                >+1 (323) 990-7550</a
                >
            <div
                    class="link-top"
                    style="display: flex; justify-content: center; gap: 15px"
            >
                <a aria-label="Call Us" href="tel:(323)990-7550" class="button-85"
                >&nbsp;&nbsp;&nbsp;CALL US&nbsp;&nbsp;</a
                >
                <a aria-label="Book Us" href="/book" class="button-85"
                >&nbsp;&nbsp;BOOK US&nbsp;</a
                >
            </div>
        </div>

        <div id="topblock" style="height: 4em;"></div>
        <div class="main">
            <div class="maintext">
                <div class="main-right">
                    <div class="main-right__top">
                        <div class="main-right__top-text">
                            <h4>Текст заголовок</h4>
                            <p> Quasi autem perspiciatis dicta fugit, dolorum unde atque necessitatibus!</p>
                            <h4>Текст заголовок</h4>
                            <p> Quasi autem perspiciatis dicta fugit, dolorum unde atque necessitatibus!</p>
                            <h4>Текст заголовок</h4>
                            <p> Quasi autem perspiciatis dicta fugit, dolorum unde atque necessitatibus!</p>
                        </div>
                        <img class="main-img" src=/images/logo.webp" alt="logo"/>
                    </div>
                    <h4>Текст заголовок</h4>
                    <p> Quasi autem perspiciatis dicta fugit, dolorum unde atque necessitatibus!</p>
                    <h4>Текст заголовок</h4>
                    <p> Quasi autem perspiciatis dicta fugit, dolorum unde atque necessitatibus!</p>
                </div>
            </div>
        </div>
        <div class="menu">
            <a style="--clr: #7808d0" class="button" href="#price-list">
          <span class="button__icon-wrapper">
            <svg
                    width="10"
                    class="button__icon-svg"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 15"
            >
              <path
                      fill="currentColor"
                      d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              ></path>
            </svg>

            <svg
                    class="button__icon-svg button__icon-svg--copy"
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    fill="none"
                    viewBox="0 0 14 15"
            >
              <path
                      fill="currentColor"
                      d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              ></path>
            </svg>
          </span>
                Price List
            </a>

            <a style="--clr: #7808d0" class="button" href="#wolf-stove-repair">
          <span class="button__icon-wrapper">
            <svg
                    width="10"
                    class="button__icon-svg"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 15"
            >
              <path
                      fill="currentColor"
                      d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              ></path>
            </svg>

            <svg
                    class="button__icon-svg button__icon-svg--copy"
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    fill="none"
                    viewBox="0 0 14 15"
            >
              <path
                      fill="currentColor"
                      d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              ></path>
            </svg>
          </span>
                Repair
            </a>
            <a style="--clr: #7808d0" class="button" href="#wolf-stove-instalation">
          <span class="button__icon-wrapper">
            <svg
                    width="10"
                    class="button__icon-svg"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 15"
            >
              <path
                      fill="currentColor"
                      d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              ></path>
            </svg>

            <svg
                    class="button__icon-svg button__icon-svg--copy"
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    fill="none"
                    viewBox="0 0 14 15"
            >
              <path
                      fill="currentColor"
                      d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              ></path>
            </svg>
          </span>
                Installation
            </a>
            <a style="--clr: #7808d0" class="button" href="#wolf-stove-cleaning">
          <span class="button__icon-wrapper">
            <svg
                    width="10"
                    class="button__icon-svg"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 15"
            >
              <path
                      fill="currentColor"
                      d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              ></path>
            </svg>

            <svg
                    class="button__icon-svg button__icon-svg--copy"
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    fill="none"
                    viewBox="0 0 14 15"
            >
              <path
                      fill="currentColor"
                      d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              ></path>
            </svg>
          </span>
                Cleaning
            </a>
        </div>
    </div>

    <div class="home-about">
        <div class="columns">
            <div class="col fade-in">
                <h3
                        style="
              color: white !important;
              margin: 0 auto;
              text-align: center;
            "
                >
                    Wolf Stove
                </h3>
                <img src="/images/columns-1.webp" alt="img"/>
                <p style="color: white !important; text-align: center">
                    Ремонт WOLF STOVE - <a class="columns-link" href="#">Подробнее</a>
                </p>
                <a class="columns-book" href="#">BOOK US</a>
            </div>
            <div class="col fade-in">
                <h3
                        style="
              color: white !important;
              margin: 0 auto;
              text-align: center;
            "
                >
                    Wolf Stove
                </h3>
                <img src="./images/columns-2.webp" alt="img"/>
                <p style="color: white !important; text-align: center">
                    Ремонт WOLF STOVE - <a class="columns-link" href="#">Подробнее</a>
                </p>
                <a class="columns-book" href="#">BOOK US</a>
            </div>
            <div class="col fade-in">
                <h3
                        style="
              color: white !important;
              margin: 0 auto;
              text-align: center;
            "
                >
                    Wolf Stove
                </h3>
                <img src="/images/columns-3.webp" alt="img"/>
                <p style="color: white !important; text-align: center">
                    Ремонт WOLF STOVE - <a class="columns-link" href="#">Подробнее</a>
                </p>
                <a class="columns-book" href="#">BOOK US</a>
            </div>
            <div class="col fade-in">
                <h3
                        style="
              color: white !important;
              margin: 0 auto;
              text-align: center;
            "
                >
                    Wolf Stove
                </h3>
                <img src="/images/columns-4.webp" alt="img"/>
                <p style="color: white !important; text-align: center">
                    Ремонт WOLF STOVE - <a class="columns-link" href="#">Подробнее</a>
                </p>
                <a class="columns-book" href="#">BOOK US</a>
            </div>
            <div class="col fade-in">
                <h3
                        style="
              color: white !important;
              margin: 0 auto;
              text-align: center;
            "
                >
                    Wolf Stove
                </h3>
                <img src="/images/columns-5.webp" alt="img"/>
                <p style="color: white !important; text-align: center">
                    Ремонт WOLF STOVE - <a class="columns-link" href="#">Подробнее</a>
                </p>
                <a class="columns-book" href="#">BOOK US</a>
            </div>
            <div class="col fade-in">
                <h3
                        style="
              color: white !important;
              margin: 0 auto;
              text-align: center;
            "
                >
                    Wolf Stove
                </h3>
                <img src="/images/columns-6.webp" alt="img"/>
                <p style="color: white !important; text-align: center">
                    Ремонт WOLF STOVE - <a class="columns-link" href="#">Подробнее</a>
                </p>
                <a class="columns-book" href="#">BOOK US</a>
            </div>
            <div class="col fade-in">
                <h3
                        style="
              color: white !important;
              margin: 0 auto;
              text-align: center;
            "
                >
                    Wolf Stove
                </h3>
                <img src="/images/columns-7.webp" alt="img"/>
                <p style="color: white !important; text-align: center">
                    Ремонт WOLF STOVE - <a class="columns-link" href="#">Подробнее</a>
                </p>
                <a class="columns-book" href="#">BOOK US</a>
            </div>
            <div class="col fade-in">
                <h3
                        style="
              color: white !important;
              margin: 0 auto;
              text-align: center;
            "
                >
                    Wolf Stove
                </h3>
                <img src="/images/columns-8.webp" alt="img"/>
                <p style="color: white !important; text-align: center">
                    Ремонт WOLF STOVE - <a class="columns-link" href="#">Подробнее</a>
                </p>
                <a class="columns-book" href="#">BOOK US</a>
            </div>
        </div>
    </div>

    <div class="tiledBackground5">
        <div id="price-list"></div>
        <div class="maintext problems">
            <div class="problems-item">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ex.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ex.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ex.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ex.</p>
            </div>
            <div class="problems-item">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ex.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ex.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ex.</p>
            </div>
        </div>
        <div class="more-stuff-grid more-item">
            <div class="more-stuff-grid-wrapper">
                <img src="/images/columns-1.webp" alt="img" class="slide-in from-left"/>
                <div class="more-stuff-grid-text slide-in from-right">
                    <h3>Текст текст</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
                        quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
                        omnis sapiente neque cumque consequuntur reiciendis deserunt.
                        Dolorem vero exercitationem consequuntur, eligendi cupiditate
                        debitis facilis quibusdam magni. Eveniet.
                    </p>
                </div>
            </div>
        </div>
        <div class="more-stuff-grid more-item">
            <div class="more-stuff-grid-wrapper grid-revers">
                <div class="more-stuff-grid-text slide-in from-left">
                    <h3>Текст текст</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
                        quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
                        omnis sapiente neque cumque consequuntur reiciendis deserunt.
                        Dolorem vero exercitationem consequuntur, eligendi cupiditate
                        debitis facilis quibusdam magni. Eveniet.
                    </p>
                </div>
                <img src="/images/columns-1.webp" alt="img" class="slide-in from-right"/>
            </div>
        </div>
        <div class="more-stuff-grid more-item">
            <div class="more-stuff-grid-wrapper">
                <img src="/images/columns-1.webp" alt="img" class="slide-in from-left"/>
                <div class="more-stuff-grid-text slide-in from-right">
                    <h3>Текст текст</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
                        quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
                        omnis sapiente neque cumque consequuntur reiciendis deserunt.
                        Dolorem vero exercitationem consequuntur, eligendi cupiditate
                        debitis facilis quibusdam magni. Eveniet.
                    </p>
                </div>
            </div>
        </div>
        <div class="more-stuff-grid more-item">
            <div class="more-stuff-grid-wrapper grid-revers">
                <div class="more-stuff-grid-text slide-in from-left">
                    <h3>Текст текст</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
                        quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
                        omnis sapiente neque cumque consequuntur reiciendis deserunt.
                        Dolorem vero exercitationem consequuntur, eligendi cupiditate
                        debitis facilis quibusdam magni. Eveniet.
                    </p>
                </div>
                <img src="/images/columns-1.webp" alt="img" class="slide-in from-right"/>
            </div>
        </div>
        <div class="more-stuff-grid more-item">
            <div class="more-stuff-grid-wrapper">
                <img src="/images/columns-1.webp" alt="img" class="slide-in from-left"/>
                <div class="more-stuff-grid-text slide-in from-right">
                    <h3>Текст текст</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
                        quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
                        omnis sapiente neque cumque consequuntur reiciendis deserunt.
                        Dolorem vero exercitationem consequuntur, eligendi cupiditate
                        debitis facilis quibusdam magni. Eveniet.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="tiledBackground6">
        <div id="wolf-stove-repair"></div>
        <div class="maintext" style="margin: 0 auto">
            <h2 style="text-align: center;">Areas we service:</h2>
            <p style="line-height: 150%;">Los Angeles | Beverly Hills | Orange County | Malibu | Bel Air | Calabasas |
                Encino | Tarzana | Sherman Oaks | Westwood | Santa Monica | Pacific Palisades | Brentwood | Wilshire |
                Topanga | Ventura County | Santa Barbara | Montecito | Oxnard | Carpinteria | Camarillo | Newbury Park |
                Thousand Oaks | Westlake Village | Agoura Hills | Simi Valley | Hidden Hills | Woodland Hills | West
                Hills |
                Canoga Park | Chatsworth | Porter Ranch | Granada Hills | Valencia | Santa Clarita | Valley Village |
                Northridge | North Hollywood | Toluca Lake | Hollywood | Burbank | Glendale | Silver Lake | DTLA |
                Atwater
                Village | Pasadena | Altadena | La Crescenta | Montrose | Rolling Hills | Rancho Palos Verdes | Redondo
                Beach | Venice Beach | Hermosa Beach | Manhattan Beach | El Segundo | Torrance | Marina Del Rey | Culver
                City | Century City | West Hollywood | Newport Beach | Laguna Niguel | Dana Point | Coto De Caza</p>
        </div>
        <div
                class="link-top"
                style="display: flex; justify-content: center; gap: 15px; margin-top: 20px"
        >
            <a aria-label="Call Us" href="tel:(323)990-7550" class="button-85"
            >&nbsp;&nbsp;&nbsp;CALL US&nbsp;&nbsp;</a
            >
            <a aria-label="Book Us" href="/book" class="button-85"
            >&nbsp;&nbsp;BOOK US&nbsp;</a
            >
        </div>
    </div>

    <!--has to be somewhere on the page otherwise animation does not work-->
    <section class="home-intro">
        <h2>Intersection Observer is pretty useful</h2>
    </section>
        <div class="cookie" id="cookieDiv">
        <p>This site uses <a href="">cookies.</a>
        </p>
        <button class="cookie-button" type="button" id="cookieButton">
            Accept cookies
        </button>
    </div>
</Layout>

<style>

</style>
