---

import '../js/app'
import '../css/style.css'

// Метаданные страницы
const description = 'A minimal Astro starter template, with CUBE CSSLG DRyer Repair Experts in Los Angeles County | Orange County | Ventura County';
const ogTitle = 'Заголовок для социальных сетей';
const ogDescription = 'Описание для социальных сетей';
---

<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-7VM56LQL45');
</script>

<!doctype html>
<html lang="en">
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width"/>
<meta
	name="description"
	content="Professional Wolf Stove repair services & Wolf Stove installation services. Call today: (323) 990-7550 or BOOK Online"
/>
<meta name="og:site_name" property="og:site_name" content="LG Dryer Repair" />
<meta name="og:type" property="og:type" content="website" />
<meta
	property="og:description"
	content="LG DRyer Repair Experts in Los Angeles County | Orange County | Ventura County"
/>
<meta name="description" content={description} />
<meta property="og:title" content={ogTitle} />
<meta property="og:description" content={ogDescription} />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7VM56LQL45"></script>
<title>Expert WOLF STOVE Repair Services</title>
<link rel="icon" type="image/x-icon" href="/images/icon.ico"/>
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link
	href="https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@700&display=swap"
	rel="stylesheet"
/>
	<body>
		<slot />
	</body>
</html>
<style>

</style>
